
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom:8px ;
}
.rightnav{
    text-align: center;
    width: 30%;
    padding: 0 23px;
    margin: auto;
}
.burger{
    display: block;
}
#home{
     height: 280px;
     padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
    width: 85%;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
   width: 66px;
   padding: 2px 6px;
   height: auto;
}
#contact-box form{
    width: 80%;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
